<!DOCTYPE html>
<!--DECLARACIÓN DE APP -->
<html ng-app="alumnes">
<head>
    <title> Tabla alumnes AngularJS </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
</head>
<!-- DECLARACIÓN DE CONTROLADOR -->
<body ng-controller="alumneController">

    <div class="container">
        
        <h1>Tabla de alumnes</h1>
        <div>
            <h2> Añadir un alumne </h2>
            <!-- DIRECTIVA SUBMIT -->
            <form ng-submit="Insertar()">
                <div class="form-group">
                    <label for="DNI">DNI</label>
                    <!-- LOS INPUTS PRESENTAN EL MODELO -->
                    <input type="text" class="form-control" id="DNI" placeholder="DNI del alumne" ng-model="noualumne.dni" required>
                </div>
                <div class="form-group">
                    <label for="Nom"> Nom </label>
                    <input type="text" class="form-control" id="Nom" placeholder="Nom del alumne" ng-model="noualumne.Nom" required>
                </div>
                <div class="form-group">
                    <label for="Cognom1">1er Cognom</label>
                    <input type="text" class="form-control" id="Cognom1" placeholder="1er Cognom del alumne" ng-model="noualumne.Cognom1" required>
                </div>
                <div class="form-group">
                    <label for="Cognom2">2º Cognom</label>
                    <input type="text" class="form-control" id="Cognom2" placeholder="2º Cognom del alumne" ng-model="noualumne.Cognom2" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="Correo electrónico del alumne" ng-model="noualumne.email" required>
                </div>
                <div class="form-group">
                    <label for="nota">Nota</label>
                    <input type="number" class="form-control" id="nota" placeholder="Nota del alumne" min="0" max="10" step="0.5" ng-model="noualumne.nota" required>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="validarDni(noualumne.dni)">Insertar alumne</button>
            </form>
        </div>
        <div>
            <!-- TABLA EN LA CUAL APARECERÁN LOS DATOS -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"> # </th>
                        <th scope="col">DNI</th>
                        <th scope="col">Nom</th>
                        <th scope="col">1er Cognom</th>
                        <th scope="col">2º Cognom</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Nota</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- DIRECTIVA REPEAT -->
                    <tr ng-repeat= "alumne in alumnes">
                        <td>{{$index+1}}</td>
                        <td>{{alumne.dni}}</td>
                        <td>{{alumne.Nom}}</td>
                        <td>{{alumne.Cognom1}}</td>
                        <td>{{alumne.Cognom2}} </td>
                        <td>{{alumne.email}} </td>
                        <td>{{alumne.nota}} </td>
                        <td><button class="btn btn-danger" id="borrar" ng-click="eliminar($index)">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>   
        </div>
    </div>
    <!-- AQUI SE INSERTAN TODOS LOS SCRIPTS EXTERNOS Y LA LIBRERIA DE ANGULAR -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="dni.js"></script>
    <script src="script.js"></script>
    
</body>
</html>